/* Styles go here */

html {}

body {
    font-family: "proxima-nova", sans-serif;
}

nav {
    background-color: rgba(45, 45, 45, 0.5);
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.sideNav {
    background-color: #8e8e8e;
}

.nav-wrapper {
    max-width: 960px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#logo-img {
    height: 50px;
    margin: auto;
    vertical-align: middle;
    padding-bottom: 3px;
}


/*-SPLASH PAGE START-*/

#home {
    background: url(/img/wallpaper.jpg) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: height 1000000s ease;
    -webkit-transition: height 1000000s ease;
    -moz-transition: height 1000000s ease;
    -o-transition: height 1000000s ease;
}

#splash {
    height: 100vh;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1000000s ease;
    -webkit-transition: height 1000000s ease;
    -moz-transition: height 1000000s ease;
    -o-transition: height 1000000s ease;
}

#splash-text {
    /*    display: table-cell;*/
    vertical-align: middle;
    color: #f9f9f9;
    text-shadow: 1px 1px 1px grey;
}

#splash-text > h1,
h4 {
    line-height: 0.9;
}

#splash-text > h1 {
    font-size: 3em;
}

#splash-text > h4 {
    font-size: 1.6em;
}

#splash-text > h2 {
    font-size: 2em;
}

#splash-text a {
    text-decoration: none;
    color: white;
}

#chevron-down {
    font-size: 3em;
}


/*-SPLASH PAGE END-*/


/*- About Section Start -*/

#about {
    background-color: cornflowerblue;
    color: #f9f9f9;
}

#about > .container > h4 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f9f9f9;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

#about > .container > h4 > span {
    background: cornflowerblue;
    padding: 0 10px;
}


/*- About Section End -*/